<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
    <div id="divcentral">
        <span id="titulo">{{ clima_city }}°C </span>

        <form method="post">
        <input type="text" id="text" placeholder="Digite o nome da sua cidade aqui" name="cidadeinput">
        <button id="enviar">Enviar</button>
        </form>
    </div>

    <script>
        let body = document.querySelector("body")
        let temperatura = Number("{{ clima_city }}")
        if (temperatura < 20){
            body.style.backgroundImage = "url(/static/frio.png)"
        }else if(temperatura < 30 && temperatura > 19){
            body.style.backgroundImage = "url(/static/tranquilo.png)"
        }else{
            body.style.backgroundImage = "url(/static/calor.png)"
        }

    </script>
    
</body>
</html>