<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
    <div id="divcentral">
        <span id="titulo">Quer saber o clima da sua cidade? </span>
        <input type="text" id="text" placeholder="Digite o nome da sua cidade aqui">
        <button id="enviar">Enviar</button>
    </div>

    
</body>
</html>